<!-- Footer -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">



<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-one">
          <h3>Footer Content</h3>
          <p>Here you can use rows and columns to organize your footer content.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
            esse
            quasi, veritatis totam voluptas nostrum.</p>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-two">
          <h2>usefull links</h2>
          <ul>
            <li>
              <a href="#">about us</a>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#">gallery</a>
            </li>
          </ul>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-three">
          <h2>
            Constact US
          </h2>
          <p>
           office : {{  CompanyInfo.OfficeAddres.Area }}.
           <br>
           Pin : {{ CompanyInfo.OfficeAddres.Pin  }}
            <br>
            Eamil : {{ CompanyInfo.Email }}.
            <br>
            Phone : {{ CompanyInfo.Phone }}.
          </p>  
          <div class="social-links">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            
            <a href="https://www.facebook.com/sdanishir10/" class="twitter"><i class="fab fa-facebook"></i></a>
            
            <a href="#" class="twitter"><i class="fab fa-instagram"></i></a>
          </div>
          </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 segment-four">
          <h2>Current projects
            <p>
              -----------------------------
              ------------------------------------------------------------
              ----------------------------------------------------------------------------------------
              ------------------------------------------------------------
            </p>
          </h2>
        </div> 

      </div>
    </div>
    <div class="container">
      <div class="Copyright">
        &copy;Copyright<strong>
          WebsiteName
        </strong>
        All rigths reserved
      </div>
      <div class="creadits">
        desinged by danish shaikh
      </div>
    </div>
  </div>
</footer>