<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <div >
  <img class="img-fluid-con" [src]="CompanyInfo.logoURL">
    <a class="navbar-brand" href="#">{{ CompanyInfo.CompanyName }}</a>
  </div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" role="navigation"
     id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor="let UIElement of UIElements">
          <a class="nav-link" routerLink="{{  UIElement.settings.url }}" routerLinkActive="active">
            {{ UIElement.settings.title }}
           </a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

